include *.ini
include *.md
include *.rst
include *.txt
include *.toml
include pylintrc
include pyproject.toml
include .isort.cfg
include AUTHORS
include tests/.coveragerc
include changelog.rst
include .nojekyll

exclude genestboost/model_ensemble.py
exclude genestboost/residual_model.py

recursive-include tests *.py
recursive-include docs *.py
recursive-include docs *.rst
